WORKFLOW_CHOCOLATECH_CON_RUTAS_SWITCH.json
{
  "name": "BOT_CHOCOLATECH_VF",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres el HR Buddy, asistente virtual de RR. HH. de ChocolaTech.\nREGLAS:\n\nResponde siempre en español.\nResponde SOLO dudas relacionadas con RR. HH.\nIDENTIFICACIÓN DEL EMPLEADO:\nSi el usuario no dice quién es, pregúntale su nombre completo en la primera respuesta.\nUsa la herramienta MySQL para buscar en la tabla funcionarios usando SIEMPRE el NOMBRE COMPLETO informado por el usuario en la conversación.\nSi se encuentra: usa los saldos de vacaciones y banco de horas.\nSi no se encuentra: no inventes datos personales. Responde solo con base en las políticas generales de RR. HH. del Vector Store.\nUsa la base de conocimientos para dudas generales."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -32
      ],
      "id": "d593c6cf-0556-4a51-a82b-231310e5eebe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "id": "3678d1bb-5ac5-4813-8d85-08f599eb4d78",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "zpyjgvxRa39M75tr",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        432,
        240
      ],
      "id": "604fd451-95bf-4c60-b373-09b4f3194769",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Buscar informacion sobre recursos humanos (RH) como horarios, vacaciones, información de empleados, etc.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "f7fbc61c-5b7d-4596-b812-f871dc58c476",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        640,
        384
      ],
      "id": "c7952e86-c04f-4931-8ffc-98067f99e3a7",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "zpyjgvxRa39M75tr",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "empleados",
          "mode": "list",
          "cachedResultName": "empleados"
        },
        "where": {
          "values": [
            {
              "column": "nombre",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Usa siempre el formato %nombre% para busqueda parcial. Por ejemplo: %Eric Monné%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        816,
        208
      ],
      "id": "0122fd06-37fc-4bdf-b3db-7266dc4c11d9",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "94rksbLGWBIjKgfM",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        320
      ],
      "id": "17b63f5c-56dc-4375-a3cd-f99850f654f3",
      "name": "Telegram Trigger",
      "webhookId": "3cb4f15f-b3ba-4304-8b70-64107dc16369",
      "credentials": {
        "telegramApi": {
          "id": "EvPuawp7znuy5OVN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        192
      ],
      "id": "b722d962-b6a5-412e-b47b-c785128fce3b",
      "name": "Send a text message",
      "webhookId": "7873d6dd-c1e5-4e50-871b-a41688d3de0c",
      "credentials": {
        "telegramApi": {
          "id": "EvPuawp7znuy5OVN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "[Vv]acaciones|[Hh]orarios|[Bb]eneficios|[Ss]aldo|[Ll]icencia|[Cc]ontrato|[Nn]ombre|[Ee]mail|[Dd]epartamento|[Pp]uesto|[Ff]echa|[Ii]ngreso|[Bb]anco|[Hh]oras|[Mm]odalidad",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "244bbcc7-7a64-45a3-a8a8-c18a9867658a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2593c380-9776-4021-b875-0e5bd8ae79fc",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "[Hh]ola|[Bb]uenos dias|[Bb]uenas|[Hh]ey|[Bb]uen dia|[Bb]uenas tardes|[Bb]uenas noches|[Hh]ola que tal?",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        304
      ],
      "id": "76207197-bc88-4e95-af9d-49b42ac6383e",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola! ¿En qué puedo ayudarte?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        480
      ],
      "id": "857cd20a-5209-4546-938c-9e5c2d50b730",
      "name": "Send a text message1",
      "webhookId": "83582fb2-bda1-4e4b-a48d-4d7dc552a056",
      "credentials": {
        "telegramApi": {
          "id": "EvPuawp7znuy5OVN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Lo siento, solo puedo responder preguntas de RR.HH.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        672
      ],
      "id": "d91d43e5-aa2c-4935-88c0-46addb8b90a4",
      "name": "Send a text message2",
      "webhookId": "6e0660c4-93c1-4104-830c-9c7c355301f2",
      "credentials": {
        "telegramApi": {
          "id": "EvPuawp7znuy5OVN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b27cccb-afa0-45f1-8d8c-f6cd8e1af4b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96629cc7a9c279d27bee263be37323a1e14e8f98bd76e16f4fe9d1e556f869f4"
  },
  "id": "MydMcizkLHrmlMSW",
  "tags": []
}
